<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;Lib\Core\Encryption;Lib\Core\HabboHotel;Lib\Core\Messages;Lib\Core\System;Lib\Core\Writer;Lib\Database;Lib\Extensions\Collections;Lib\Extensions\Enclosure;Lib\Sockets;Lib\Extensions\Updater;Lib\Extensions\Astar;Lib\Core\Authentication;Lib\Core\Imaging" />
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
